[Unit]
Description=Gunicorn instance to serve {{ app_name }} app
After=network.target

[Service]
User={{ user }}
Group=www-data
WorkingDirectory={{ app_dir }}/BirdWatchingApp
Environment="PATH={{ app_dir }}/BirdWatchingApp/venv/bin"
ExecStart={{ app_dir }}/BirdWatchingApp/venv/bin/gunicorn --bind 0.0.0.0:{{ app_port }} app:app

[Install]
WantedBy=multi-user.target